<a href="https://colab.research.google.com/github/ujjawalsingh10/Autmoted-Text-Summarization/blob/main/Automated_Text_Summarization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [10]:
cnn_daily_mail_parquet_file_1 = 'https://huggingface.co/datasets/cnn_dailymail/resolve/refs%2Fconvert%2Fparquet/1.0.0/cnn_dailymail-train-00000-of-00003.parquet'
cnn_daily_mail_parquet_file_2 = 'https://huggingface.co/datasets/cnn_dailymail/resolve/refs%2Fconvert%2Fparquet/1.0.0/cnn_dailymail-train-00001-of-00003.parquet'
cnn_daily_mail_parquet_file_3 = 'https://huggingface.co/datasets/cnn_dailymail/resolve/refs%2Fconvert%2Fparquet/1.0.0/cnn_dailymail-train-00002-of-00003.parquet'

In [11]:
df1 = pd.read_parquet(cnn_daily_mail_parquet_file_1, engine='auto')
df2 = pd.read_parquet(cnn_daily_mail_parquet_file_2, engine='auto')
df3 = pd.read_parquet(cnn_daily_mail_parquet_file_3, engine='auto')

In [12]:
## Concatinating the datasets
df = pd.concat([df1, df2, df3], axis = 0).reset_index(drop = True)

In [13]:
df

,article,highlights,id
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...,42c027e4ff9730fbb3de84c1af0d2c506e41c3e4
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...,ee8871b15c50d0db17b0179a6d2beab35065f1e9
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa...",06352019a19ae31e527f37f7571c6dd7f0c5da37
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non...",24521a2abb2e1f5e34e6824e0f9e56904a2b0e88
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical...",7fe70cc8b12fab2d0a258fababf7d9c6b5e1262a
...,...,...,...
287108,"The nine-year-old daughter of a black, unarmed...","Rumain Brisbon, 34, was killed after Phoenix p...",279a12d3ee37b8109cc192a9e88115a5a631fb06
287109,Legalising assisted suicide is a slippery slop...,"Theo Boer, a European assisted suicide watchdo...",b5bc9d404a9a5d890c9fc26550b67e6d8d83241f
287110,A group calling itself 'The Women of the 99 Pe...,Ohio congressman criticised for 'condoning the...,500862586f925e406f8b662934e1a71bbee32463
287111,Most men enjoy a good pint of lager or real al...,The Black Country Ale Tairsters have been to 1...,32a1f9e5c37a938c0c0bca1a1559247b9c4334b2
287112,A Facebook page seeking to preserve the 'Black...,Facebook page supporting tradition gains one m...,8ec9ff4d633dd4cc26d53f503c33f7464b43c36e